#wrapper{
    height: 10%;
    background-color: lightgrey
}

#mybutton {
    float: left;
    color: darkorchid;
    font-weight: bold;
    border: none;
    background-color: lightgrey;
}
#right {
   float: right;
   font-weight: bold;
}
#body {
    text-align: center;
}
.btnStyle {
    margin: 15px;
    font-size: 20px;
    
}
#heading {
    width: 60%;
    margin: 0 auto;
    

}
